In [38]:
import pandas as pd
from submission_utils import test_submission, _convert_daily_submission, get_submission_markowitz
from submission_utils import general_weights_fixer

In [2]:
plantilla = pd.read_csv("submission/submission.csv", parse_dates=True, index_col="eod_ts")

In [44]:
submission = pd.read_csv("submission_2103.csv", parse_dates=True, index_col="eod_ts")

In [14]:
all(submission.loc[:, :].div(submission.loc[:, :].sum(axis=0), axis=1) == 1)

True

In [21]:
submission = submission.div(submission.sum(axis=1), axis=0)

In [45]:
weights = submission.iloc[0, :].values

In [46]:
import numpy as np

In [48]:
weights

array([ 0.   ,  0.   ,  0.004,  0.   ,  0.076,  0.099,  0.002,  0.016,
        0.07 ,  0.048,  0.048,  0.062,  0.   ,  0.011,  0.   ,  0.01 ,
        0.007,  0.   ,  0.026,  0.023,  0.065,  0.032,  0.   ,  0.021,
        0.015,  0.044,  0.   ,  0.062,  0.031,  0.   ,  0.   ,  0.009,
        0.   ,  0.002,  0.041,  0.011,  0.027,  0.027,  0.025,  0.011,
        0.041,  0.053,  0.   ,  0.   ,  0.091,  0.02 ,  0.042,  0.013,
        0.029,  0.003,  0.   ,  0.004,  0.011,  0.039,  0.029,  0.006,
        0.   ,  0.008,  0.024,  0.   ,  0.022,  0.   ,  0.022,  0.   ,
        0.   ,  0.018,  0.063,  0.   ,  0.008,  0.   ,  0.001,  0.02 ,
        0.015,  0.065, -0.837,  0.031,  0.   ,  0.017,  0.026,  0.   ,
        0.032,  0.014,  0.   ,  0.002,  0.   ,  0.   ,  0.   ,  0.   ,
        0.   ,  0.   ,  0.   ,  0.059,  0.01 ,  0.052,  0.   ,  0.022])

In [49]:
weights = np.clip(weights, 0, 1)

In [52]:
weights = weights / weights.sum()

In [53]:
weights.sum()

1.0

In [29]:
weights = general_weights_fixer(weights)

In [34]:
weights = np.clip(weights, 0, 1)

In [35]:
weights = weights / weights.sum()

In [59]:
sum([w for w in weights.values()])

1.0000000000000004

In [54]:
weights = {asset: weight for asset, weight in zip(submission.columns, weights)}

In [55]:
submission = get_submission_markowitz(weights, [col for col in submission.columns])

In [57]:
all(submission.sum(axis=1)==1)

False

In [4]:
subm = _convert_daily_submission(submission, plantilla)

In [60]:
test_submission(submission.div(submission.sum(axis=1), axis=0))

In [61]:
submission = submission.div(submission.sum(axis=1), axis=0)

In [7]:
subm.to_csv("submission_2602_2.csv", header=True, index=True)

In [90]:
test_submission(submission)

AssertionError:

In [64]:
submission.columns = [col.replace("allo_allo_", "allo_") for col in submission.columns]

In [65]:
submission.head()

,allo_ZVQ,allo_NCT,allo_YAX,allo_OOS,allo_GFJ,allo_FIR,allo_USX,allo_FSK,allo_TMF,allo_TDD,...,allo_AZG,allo_OJG,allo_WWT,allo_BOT,allo_TXR,allo_RAT,allo_DIG,allo_SRI,allo_PHI,allo_RWJ
eod_ts,,,,,,,,,,,,,,,,,,,,,
2020-08-18 00:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 01:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 02:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 03:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 04:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976

In [70]:
submission = submission.clip(0, 1)

In [72]:
any(submission < 0)

True

In [76]:
submission.head()

,allo_ZVQ,allo_NCT,allo_YAX,allo_OOS,allo_GFJ,allo_FIR,allo_USX,allo_FSK,allo_TMF,allo_TDD,...,allo_AZG,allo_OJG,allo_WWT,allo_BOT,allo_TXR,allo_RAT,allo_DIG,allo_SRI,allo_PHI,allo_RWJ
eod_ts,,,,,,,,,,,,,,,,,,,,,
2020-08-18 00:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 01:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 02:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 03:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976
2020-08-18 04:00:00,0.0,0.0,0.002177,0.0,0.041372,0.053892,0.001089,0.00871,0.038106,0.02613,...,0.0,0.0,0.0,0.0,0.0,0.032118,0.005444,0.028307,0.0,0.011976

In [85]:
all(submission.sum(axis=1) == 1.00)

True

In [94]:
submission = submission.round(4)

In [98]:
submission = submission.div(submission.sum(axis=1), axis=0)

In [99]:
submission.head()

,allo_ZVQ,allo_NCT,allo_YAX,allo_OOS,allo_GFJ,allo_FIR,allo_USX,allo_FSK,allo_TMF,allo_TDD,...,allo_AZG,allo_OJG,allo_WWT,allo_BOT,allo_TXR,allo_RAT,allo_DIG,allo_SRI,allo_PHI,allo_RWJ
eod_ts,,,,,,,,,,,,,,,,,,,,,
2020-08-18 00:00:00,0.0,0.0,0.002199,0.0,0.041379,0.053873,0.001099,0.008696,0.038081,0.026087,...,0.0,0.0,0.0,0.0,0.0,0.032084,0.005397,0.028286,0.0,0.011994
2020-08-18 01:00:00,0.0,0.0,0.002199,0.0,0.041379,0.053873,0.001099,0.008696,0.038081,0.026087,...,0.0,0.0,0.0,0.0,0.0,0.032084,0.005397,0.028286,0.0,0.011994
2020-08-18 02:00:00,0.0,0.0,0.002199,0.0,0.041379,0.053873,0.001099,0.008696,0.038081,0.026087,...,0.0,0.0,0.0,0.0,0.0,0.032084,0.005397,0.028286,0.0,0.011994
2020-08-18 03:00:00,0.0,0.0,0.002199,0.0,0.041379,0.053873,0.001099,0.008696,0.038081,0.026087,...,0.0,0.0,0.0,0.0,0.0,0.032084,0.005397,0.028286,0.0,0.011994
2020-08-18 04:00:00,0.0,0.0,0.002199,0.0,0.041379,0.053873,0.001099,0.008696,0.038081,0.026087,...,0.0,0.0,0.0,0.0,0.0,0.032084,0.005397,0.028286,0.0,0.011994

In [100]:
test_submission(submission)

In [87]:
submission.to_csv("submission_2103_2.csv", header=True, index=True)